* text=auto

.gitattributes text eol=lf
*.py text eol=lf
*.pyi text eol=lf
py.typed text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.ini text eol=lf
*.lock text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.mako text eol=lf
*.sh text eol=lf
*.dockerignore text eol=lf
.env.example text eol=lf
Dockerfile text eol=lf
Dockerfile.* text eol=lf

*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
